In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({'a':[2, 2, 2], 'b':[10, 11, 12], 'c':[10, 11, 12]})
df

   a   b   c
0  2  10  10
1  2  11  11
2  2  12  12

In [6]:
df.drop(index=0)

   a   b   c
1  2  11  11
2  2  12  12